
.center_text{
    margin-top: 15%;
    margin-bottom: 2%;

}

#title_text{
    font-size: 6em;
    font-family: Nunito;
}








#searchicon {
    font-size: 2.5em;
    text-decoration: none;
    color:black;
    border: none;
    background: none;
}

button#searchicon:hover{
    color:red;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5% 0 0.5% 0;
    background-color: grey;
    color: white;
    text-align: center;
}
